# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# profiles
.classpath
.gradle/
.project
.settings/

# java
*.class
/build/
/bin/

# Package Files
*.war
*.ear
*.zip

.idea
*.ipr
*.iml

# node.js
node_modules/
dist/
npm-debug.log
yarn-error.log

# VS Code
.vscode/*
!.vscode/*.json

# lerna
lerna-debug.log